body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 10px;
  background: white;
  border-radius: 8px;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  padding: 8px 0;
}



footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

section h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.work {
  background: #eee;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.work img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
  transition: transform 0.3s ease;
}


/*
.work:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

*/
.work:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.price-card {
  background: #020617;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid #334155;
  transition: transform 0.3s ease;
}

.price-card:hover {
  background: #021C2E;
  border-radius: 15px;
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}


.price-card p {
  color : white;
}

.price-card h3 {
  margin-bottom: 10px;
  color : white;
}

.price-card .price {
  color : #3261FB;
}

.price {
  font-size: 1.4rem;
  color: #38bdf8;
  font-weight: bold;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  section {
    margin: 10px;
  }

  .work {
    font-size: 0.95rem;
  }
}

html {
  scroll-behavior: smooth;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  color: #555;
}

.navbar a.active {
  color: #ff4d4d;
  border-bottom: 2px solid #ff4d4d;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
